# Compilación
bin/
obj/
*.exe
*.dll
*.pdb

# Archivos de usuario de Visual Studio
*.user
*.suo
*.log

# Carpeta interna de Visual Studio
.vs/

# Configuración local
*.vscode/
*.dbmdl
*.cache
*.tmp